.incuwise-logo-final-14 {
  position: absolute;
  top: 42px;
  left: 28px;
  width: 83px;
  height: 85px;
  object-fit: cover;
}
.contact4,
.whats-our-secret {
  position: absolute;
  display: inline-block;
}
.contact4 {
  top: 68px;
  left: 1572px;
  font-size: 25px;
  font-weight: 500;
  font-family: Poppins;
  width: 123px;
  height: 33px;
}
.whats-our-secret {
  top:1px;
  left: 280px;
  font-size: 118px;
  font-weight: 800;
  width: 1645px;
  height: 82px;
  font-family: 'Poppins';
}
.div2,
.div3,
.our-people,
.our-process {
  position: absolute;
  top: 442px;
  left:520px;
  font-weight: 650;
  display: inline-block;
  width: 811px;
  height: 87px;

}
.div2,
.div3,
.our-people {
  top: 829px;
  width: 811px;
}
.div2,
.div3 {
  top: 139px;
  left: 490px;
  font-size: 169px;
  color: rgba(255, 255, 255, 0.6);
  width: 135px;
  height: 214px;
}
.div3 {
  top: 500px;
}
.we-bet-on {
  margin: 0;
}
.all-stakeholders-and-container,
.we-bet-on-container {
  position: absolute;
 font-size: 24px;
    font-weight: 500;
    font-family: Poppins;
    display: inline-block;
    width: 958px;
    height: 246px;
}
.all-stakeholders-and-container {
  top: 893px;
}
.incuwise-logo-final-24 {
  position: absolute;
  top: 42px;
  left: 729px;
  width: 462px;
  height: 108px;
  object-fit: cover;
}
.landing-114 {
  position: absolute;
  background-color: #000;
  width: 140vw;
  height: 100vh;
  overflow-y: scroll;
  font-size: 30px;
  color: #fff;
  font-family:" Poppins";
  margin-left: -42rem;
  margin-top: 1rem;
}
