@import url('https://fonts.googleapis.com/css2?family=Barlow:ital@0;1&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700;800&family=Work+Sans:wght@300;400;600;900&display=swap');
/* *::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
    .scrollable {
      overflow-y: scroll;
      max-height: 200vh; /* Adjust the maximum height as needed */
    }
  
  body {
    margin: 0;
    
  }
.incuwise-logo-final-1 {
    position: absolute;
    top: 42px;
    left: 55px;
    width: 94px;
    height: 93px;
    object-fit: cover;
  }
  .contact {
    position: absolute;
    top: 68px;
    left: 1729px;
    font-size: 30px;
    font-weight: 500;
    font-family: Poppins;
    color: #000;
    display: inline-block;
    width: 123px;
    height: 33px;
  }
  .whats-up1 {
    margin: 0;
  }
  .tell-us-about,
  .whats-up {
    position: absolute;
    color: #000;
    display: inline-block;
  }
  .whats-up {
    top: 273px;
    left: 149px;
    font-size: 83px;
    font-weight: 800;
    width: 716px;
    height: 94px;
  }
  .tell-us-about {
    top: 300px;
      left: 1014px;
      font-size: 18px;
      font-weight: 500;
      font-family: Poppins;
      width: 500px;
  }
  .landing-118-child {
    position: absolute;
    top: 402.03px;
    left: 0;
    width: 1920px;
    height: 197.97px;
  }
  .landing-118-child1,
  .landing-118-child2,
  .landing-118-child3,
  .landing-118-child4,
  .landing-118-inner,
  .landing-118-item,
  .rectangle-div {
    position: absolute;
    top: 708px;
    left: 105px;
    border-radius: 24px;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    width: 420px;
    height: 85px;
  }
  .landing-118-child1,
  .landing-118-child2,
  .landing-118-child3,
  .landing-118-child4,
  .landing-118-inner,
  .rectangle-div {
    top: 875px;
  }
  .landing-118-child1,
  .landing-118-child2,
  .landing-118-child3,
  .landing-118-child4,
  .rectangle-div {
    top: 1042px;
      width: 658px;
      height: 182px
  }
  .landing-118-child1,
  .landing-118-child2,
  .landing-118-child3,
  .landing-118-child4 {
    top: 875px;
      left: 580px;
      width: 420px;
      height: 85px;
  }
  .landing-118-child2,
  .landing-118-child3,
  .landing-118-child4 {
    left: 1050px;
  }
  .landing-118-child3,
  .landing-118-child4 {
    top: 708px;
    left: 580px;
  }
  .landing-118-child4 {
    left: 1050px;
  }
  .name,
  .project-info {
    position: absolute;
    display: inline-block;
  }
  .project-info {
    top: 635px;
    left: 105px;
    color: #000;
    width: 217px;
    height: 23px;
  }
  .name {
    top: 732px;
      left: 124px;
      width: 145px;
      height: 26px;
  }
  .company,
  .email,
  .location,
  .phone-number,
  .project-synopsis,
  .website {
    position: absolute;
    top: 904px;
    left: 129px;
    display: inline-block;
    width: 173px;
    height: 26px;
  }
  .company,
  .email,
  .phone-number,
  .project-synopsis,
  .website {
    top: 1071px;
    width: 329px;
  }
  .company,
  .email,
  .phone-number,
  .website {
    top: 898px;
      left: 610px;
      width: 173px;
  }
  .email,
  .phone-number,
  .website {
    left: 1077px;
  }
  .email,
  .phone-number {
    top: 729px;
      left: 610px;
      width: 165px;
  }
  .phone-number {
    left: 1077px;
    width: 266px;
  }
  .landing-118-child5 {
    position: absolute;
    top: 1122px;
    left: 867px;
    background-color: #1d428a;
    width: 209px;
    height: 87px;
  }
  .submit {
    position: absolute;
    left: 922px;
    top: 1149px;
    display: inline-block;
    color: #fff;
    width: 134px;
    height: 26px;
  }
  .landing-118-child6 {
    position: absolute;
    top: 1268px;
    left: 0;
    background-color: #1d428a;
    width: 1920px;
    height: 534px;
  }
  .helloincuwisecom,
  .want-to-talk {
    position: absolute;
    left: 102px;
    color: #fff;
  }
  .want-to-talk {
    top: 1342px;
    font-weight: 700;
    font-family: "Open Sans";
  }
  .helloincuwisecom {
    top: 1369px;
    font-size: 42px;
    font-weight: 800;
    display: inline-block;
    width: 820px;
    height: 64px;
  }
  .div,
  .line-div {
    position: absolute;
  }
  .line-div {
    top: 1422.5px;
    left: 98.5px;
    border-top: 4px solid #fff;
    box-sizing: border-box;
    width: 489px;
    height: 7px;
  }
  .div {
    top: 1382px;
    left: 643px;
    font-size: 24px;
    font-weight: 800;
    color: #fff;
    display: inline-block;
    width: 526px;
    height: 60px;
  }
  .incuwise-logo-final-2 {
    position: absolute;
    top: 42px;
    left: 729px;
    width: 462px;
    height: 108px;
    object-fit: cover;
  }
  .landing-118 {
    position: relative;
    background-color: #fff;
   
    overflow: hidden;
    text-align: left;
    font-size: 27px;
    color: rgba(0, 0, 0, 0.6);
    font-family: "Poppins";
    width: 358%;
    height: 250vh;
   overflow-y: hidden;
    text-align: left;
  
  
   
  }
  